# google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# database
DATABASE_URL=

# session
SESSION_SECRET=
SECRET=

# Cloudinary
CLOUD_NAME=
API_KEY=
API_SECRET=
