# google (enable google login)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# github (enable github login)
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# database (db string)
DATABASE_URL=

# session (secret)
SESSION_SECRET=
SECRET=

# Cloudinary (image database)
CLOUD_NAME=
API_KEY=
API_SECRET=

#Ably (realtime chat)
ABLY_API_KEY=
